.post{
    background-color: white;
    border-radius: 4px;
    width: 500px;
	border: 1px solid #dddfe2;
	margin: 9px 0;
	padding-top: 12px;
	border-radius: 2px;
}


.post_conteudo{
	margin-top: 5px;
	padding: 0 0 12px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: #1c1e21;
}
.post_usuario{
	display: flex;
}



.post_usuario a{
	color: #385898 !important;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.38;
	padding-left: 10px;
	padding-top: 3px;
}

.post_usuario a:hover{
	text-decoration:underline;
	color: #385898;
}

.post_interaco{
	width: 476px;
	margin: 0 12px;
	height: 49px;
	padding: 8px 0;
	border-top: 1px solid #dddfe2;
	border-bottom: 1px solid #dddfe2;
	margin-bottom: 4px;
}

.post_interaco ul{
	list-style: none;
	display: flex;
	align-items: center;
	text-align: center;
}

.post_interaco li{
	width: 50%;
	margin: 0 5px;
	position: relative;
	font-size: 13px;
	font-weight: 600;
	color: #4b4f56;
	cursor: pointer;
	padding:5px;
	height: 32px;
}

.post_interaco li img{
	margin-right: 8px;
}

.post_interaco li:hover{
	background: #e9ebee;
}

.post_curtir:before{
	content: '';
	position: absolute;
	display: block;
	left: 26px;
	width: 24px;
	height: 20px;
	background-image: url('../img/likeSprite.png');
	background-repeat: no-repeat;
	background-position-x: -34px;
	background-position-y: -421px;
}


.post_handler{
	    display: flex;
    align-items: center;
	justify-content: center;
	position: relative;

}

.post_comentar::before{
	content: '';
	display: block;
	position: absolute;
	width: 22px;
	left: 14px;
	top: -4px;
	height: 34px;
	background-image: url('../img/spriteAuth.png');
	background-repeat: no-repeat;
	background-position: -411px -235px;
}


.post_compartilhar::before{
	content: '';
	display: block;
	position: absolute;
	width: 22px;
	left: 8px;
	top: -4px;
	height: 34px;
	background-image: url('../img/spriteAuth.png');
	background-repeat: no-repeat;
	background-position: -431px -235px;

}

.img-profile{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}


.post_handle_user span{

}

.post_handle_user{
	display: flex;
	justify-content: space-between;
	padding: 0 12px 5px 12px;
}

.dot{
	position: relative;
	cursor: pointer;
}

.dot::after{
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	left: -27px;
	height: 34px;
	background-image: url('../img/dotSprit.png');
	background-repeat: no-repeat;
	background-position: -35px -306px;
}

.dot::after:hover{
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	left: -27px;
	height: 34px;
	background-image: url('../img/dotSprit.png');
	background-repeat: no-repeat;
	background-position: -26px -432px;
}

.profile-config{
	width: 200px;
	height: 200px;
	border: 1px solid #4b4f56;
}

.config_sair_click_post{
	left: -243px !important;
}


.post_img{
	margin: 10px 0;
}

.post_text{
	padding: 0 12px;
}

.post_comentarios  .box_img{
	padding: 10px 0px 10px 10px;
}

.box_img >img {
	border-radius: 50%;
}


.post_comentarios{
	display: flex;
	align-items: center;
}
.box_input > input{
	background-color: #f2f3f5;
	border: 1px solid #ccd0d5;
	border-radius: 16px;
	font-size: 13px;
	color: #1c1e21;
	width: 100%;
	padding: 0 10px;
	min-height: 35px;
}

::-webkit-input-placeholder {
	/* padding: 0 8px; */
	font-size: 13px;
	color:rgb(141, 148, 158);
	font: 12px verdana, arial, sans-serif;
 }

.box_input{
	font-family: inherit;
	cursor: text;
    flex: 1 1 auto;
    line-height: 16px;
    overflow: hidden;
	padding: 8px 12px;
	display: flex;
}

.box_input ul{
	align-self: flex-end;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin-left: -8px;
    margin-right: 8px;
}

.box_input li{
	cursor: pointer;
    display: flex;
}


.post_comentario_uni{
	padding: 4px 12px;
}
.post_comentario_uni p{
	display: inline-block;
}

.box_conteudo{
	display: flex;
	align-items: center
}

.box_img{
	padding-right: 5px;
	align-self: flex-start;
}

.op_comentario{
	font-weight: bold;
	cursor: pointer;
	color: #385898
}

.box_texto a{
 padding-right: 5px;
}

.box_texto{
	border-radius: 18px;
	background-color: #f2f3f5;
	min-height: 40px;
	display: flex;
	align-items: center;
	padding: 0 8px;
	font-size: 13px;
	word-break: break-all;
	padding: 8px;
}

.box_texto p{
	color: #1c1e21;
	line-height: 16px;
	white-space: normal;
	word-wrap: break-word;
}

.op_comentario:hover{
	text-decoration: underline;
	color: #385898
}

.post_comentario_uni {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    justify-content: space-between;
}


.post_comentario_opcoes{
	padding-left: 10px;
	height: 25px;
	cursor: pointer;
}




.dot_comentario{
	position: relative;
	cursor: pointer;
}

.dot_comentario::after{
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	left: -27px;
	height: 34px;

}


.config_sair_click_comentario{
	padding: 9px;
	background: #FFFFFF;
	border: 1px solid  #a6a7aa;
	border-radius: 3px;
	position: absolute;
	left: -218px;
	z-index: 9999;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	width: 90px !important;
    top: 20px !important;
    left: -90px !important;
}

.config_sair_click_comentario ul li{
	padding: 9px !important;
}

.config_sair_click_comentario ul li::after{
	content: '';
	border-bottom: 1px solid #e9ebee;
    margin: 8px 7px 6px;
    display: block;
    padding-top: 1px;
    width: 88px !important;
    position: absolute;
    right: -5px;
}


